<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pastebin</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4">
				<h3>Create an account</h3>
				
				<form method="POST" th:action="@{/register}" th:object="${registrationForm}">
					
				  <div class="mb-3">
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>
				    <label for="NameInput" class="form-label">Name</label>
				    <input type="text" th:field="*{username}" class="form-control" id="NameInput">
				  </div>
					
				  <div class="mb-3">
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
				    <label for="Email1Input" class="form-label">Email address</label>
				    <input type="email" th:field="*{email}" class="form-control" id="Email1Input">
				  </div>
				  
				  <div class="mb-3">
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
				    <label for="PasswordInput" class="form-label">Password</label>
				    <input type="password" th:field="*{password}" class="form-control" id="PasswordInput">
				  </div>
				  
				  <button type="submit" class="btn btn-primary mb-3">Register</button>
				</form>
				
				<p>Already have an account? <a th:href="@{/login}">Sign in</a></p>
			</div>
		</div>
	</div>
</body>
</html>