<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pastebin</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h2>Title: <span th:text="${postDetails.title}">title</span></h2>
				<h4>Author: <span th:text="${postDetails.authorName}">authorName</span></h4>
				<p>Go back to <a th:href="@{/}" th:text="main">link</a> page</p>
				<hr>
				<pre th:text="${postDetails.text}">text</pre>
				<hr>
				
				<div th:if="${postDetails.filenames != null and not #lists.isEmpty(postDetails.filenames)}">
					<p>Attached files:</p>
					<ul>
				        <li th:each="filename : ${postDetails.filenames}">
							<a th:href="@{'/download/' + ${filename}} " th:text="${#strings.arraySplit(filename, ':')[1]}"></a>
						</li>
				    </ul>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>